.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:3rem; 
}
.portfolio__item{
    background:var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
#portfolio h2{
    font-size: 3rem;
}
#portfolio h5{
    font-size: 1.3rem;
}

.portfolio__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
    transition: 0.3s;
    transform: scale(1.05);
}
.portfolio__item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}
.portfolio__item h3{
    margin: 1.2 0 2rem;
}
.portfolio__btns{
    display: flex;
    gap:1rem;
    text-align: center;
}
.btn-1{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--color-primary);
    color: white;
}
.btn-1:hover{
    background: var(--color-primary-variant);
    color: white;
}
@media screen and (max-width:1024px){
    .portfolio__container{
        grid-template-columns: 1fr ,1fr;
        gap:1.2rem;
    } 
}
@media  screen and (max-width:600px) {
    .portfolio__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}
 