header {
    height: 110vh;
    padding-top: 0;
    overflow: hidden;
    background: linear-gradient(to bottom right, var(--color-primary-light), var(--color-secondary)); /* Smooth gradient background */
  }
  

.header__container{
    display: block;
    text-align: center;
    height:100%;
    position: relative;
    align-items: center;
    justify-content:space-between; 
    padding: 0;
}
.header__container h1,h2,h3,h4,h5{
    padding: 2px;
    margin-bottom: 2px;
}
.header__container h1{
    color: var(--color-primary);
}
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap:1.2rem;
    justify-content: center;
}
.cta:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.myname:hover {
    transform: scale(1.2);
    transition: 0.3s;
    color: var(--color-primary);
}

.header__socials {
    display: flex; /* Correct flex display */
    flex-direction: row; /* Icons in a row */
    align-items: center;
    gap: 1.5rem; /* Space between icons */
    position: relative;
    left: 0;
    bottom: 3rem;
    padding: 10px;
    margin-top: 5rem;
    justify-content: center;
  }
  
.header__socials::after{
    /* content: ""; */
    width: 3rem;
    height: 3rem;
    background: var(--color-primary);
}
.header__socials:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 50remrem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Centers horizontally */
    margin-top: 0;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 3rem 1.5rem 1.5rem;  
}
.me img {
    width: 100%;
    height: 100%;
    border-radius: 12rem 12rem 0 0;
    transition: transform 0.3s ease-in-out;
  }
  
  .me img:hover {
    transform: scale(1.1); /* Subtle pop effect */
  }

.scroll__name{
    display: flex;
    padding-top: 25px;
    justify-content: center;
    font-weight: 300;
    font-size: 1rem;
}
@media screen and (max-width:60px){
    header{
        height: 400vh;
    }
    .header__container{
        height:100%;
    }
    .header__socials,.scroll__name{
        display: none;
    }
}
